# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (Secrets)
.env
.env.*

# Streamlit/OS
.streamlit/config.toml
.DS_Store